#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.imagenes {
  height: 200px;
  background-color: aliceblue;
  padding: 10px;
  width: auto;
  margin: 20px;
}

.boton {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background-color: #61dafb;
  border: none;
  color: rgb(236, 23, 23);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.boton:hover {
  background-color: #21a1f1;
}
.boton:active {
  background-color: #1b8cd8;
}
.boton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(33, 161, 241, 0.5);
}

